body{
    background-color: beige;
}

/* #selectabil{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    background-color: tomato;
} */

#calculator{
    background-color: cadetblue;
    width: 280px;
    display: flex;
    flex-wrap: wrap;        
}

#display{
    width: 280px;
    height: 70px;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    line-height: 70px;
    margin-right: 20px;
}

#cifreWrapper{
    width: 210px;
    display: flex;
    flex-wrap: wrap;
}

.cifra{
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    line-height: 70px;
    text-align: center;
    border: 1px solid black;
}

.functie {
    background-color: tomato;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    line-height: 70px;
    text-align: center;
    border: 1px solid black;
}

#zero{
    width: 210px;
}

#egal{
    height: 140px;
    line-height: 140px;
    background-color: yellow;
}